* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

header {
    border-bottom: solid rgb(230, 230, 230);
}
header p a {
    color: crimson;
}

body {
    font-family: Roboto, sans-serif;
    margin: 0;
}

h1 {font-size: 4em;}
h2 {font-size: 3em;}
h3 {font-size: 2em;}
p {font-size: 1.25em;}
a {font-size: 1em;}
a {font-style: none;}

button {
    font-size: 1.3em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 10px;
    border: 2px solid rgb(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgb(0,0,0,0.5);
    color: white;
    background-color: crimson;
}

button:hover {    
    background-color: rgb(192, 28, 61);
}

.conteiner {
    max-width: 1400px;
    margin: auto;
}


.color-acento {
    color: crimson;
}

header {
    background-color: rgb(245, 245, 245);

}

header .logo {
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color:crimson;
    font-size: 1.6em;
}

header .conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover {
    color: crimson;
}

#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) 
    ,url(img/curri.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
} 

#hero {
    height: 90vh;
}

#hero h1 {
    color: white;
    text-shadow: black 2px 2px 2px;
    font-size: 5em;
}

.tableimg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px;
    margin: 90px;
    text-align: center;
    align-items: center;
    
}

.tableimg .p1-img {
    padding: 20px;
    
}

.tableimg img {
    border-radius: 15px;
}

.tableimg h5 {
    text-align: center;
    font-size: 20px;
    padding: 0px 30px;
}

#soypedro .conteiner {
    text-align: center;
    padding: 200px 12px;
    height: 100vh;
    padding-top: 140px;
    
}

#soypedro .img-fondo {
    height: 20vh;
    display: inline-flex;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), url("img/papa.jpg");
    background-size: cover;
    background-position: center center;
    width: 200px;
    border-radius: 20px;  
    
}

#trabajosrelevantes {
    background-color: rgba(30,30,30);
    color:white;
    text-align: center;
}

#trabajosrelevantes .conteiner {
    padding: 150px 12px;
}

#trabajosrelevantes h2 {
    margin-top: 0;
    text-shadow: black 2px 2px 2px;
}


 #trabajosrelevantes p {
     padding-top: 50px;
 }

#trabajosrelevantes .carta {
    background-size: 100% 150px;
    background-position-y: 0;
    background-repeat: no-repeat;
    padding: 50px;
    margin: 20px;
    border-radius: 20px;
    background-color: rgb(50,50,50,0.5);

}

button a {
    text-decoration: none;
    color: white;
}

.carta:first-child {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) 
    ,url("img/arq.jpg")

}

.carta:nth-child(2) {
background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) 
    ,url("img/diseño.jpg")
}

.carta:nth-child(3) {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) 
    ,url("img/progra.jpg")
}


.img1-arq img {
    display: center;
    padding: 30px 12px;
    
}

.img2-diseño {
    display: center;
    padding: 30px 12px;
}

.img3-programador {
    display: center;
    padding: 30px 12px;
}

#contacto {
    padding: 100px;
    font-weight: bold;
    height: 60vh;
    display: flex;
}
#contacto .conteiner {
    text-align: center;
}

#contacto span {
    display: flex;
}

.a-class:hover {
    color: crimson;
}


footer .conteiner {
    text-align: right;
    background-color: gray;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    
}

@media (min-width:720px){
    header {
        position: fixed;
        width: 100%;
    }
    header .conteiner {
        flex-direction: row;
        justify-content: space-between;
    }
    header nav {
        flex-direction: row;
        padding-bottom: 0px;
        padding-right: 20px;
    }
    #soypedro .conteiner{
        display: flex;
        justify-content: center;
    }

    #soypedro .texto {
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding: 0px 30px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    #soypedro .texto {
        text-align: center;
        display: flex;
        flex-direction: center;
        padding-left: 50px;
    }

    #soypedro h2 {
        margin-top: 0px;
    }

    #soypedro .img-fondo {
        display: flex;
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        ), url("img/papa.jpg");
        background-size: cover;
        background-position: center center;
        width: 300px;
        height: 300px;    
    }

    #trabajosrelevantes .programas{
        display: flex;
        justify-content: center;
    }

    #trabajosrelevantes p {
        display: block;
    }

    #trabajosrelevantes .carta {
        padding: 30px;
        background-size: 100% 150px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgb(50,50,50,0.5);
    }

    #trabajosrelevantes p {
        color: white;
        text-shadow: black 2px 2px 2px;
        padding-top: 35px;
    }
    .carta:first-child {
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        ) 
        ,url("img/arq.jpg")
    
    }
    
    .carta:nth-child(2) {
    background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        ) 
        ,url("img/diseño.jpg")
    }
    
    .carta:nth-child(3) {
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        ) 
        ,url("img/progra.jpg")
    }

    .tableimg {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 100px;
        margin: 20px;
        text-align: center;
        align-items: center;
        
    }

    
}



